[submodule "libs/socket.io-client-cpp"]
	path = libs/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp
[submodule "libs/pl_mpeg"]
	path = libs/pl_mpeg
	url = https://github.com/phoboslab/pl_mpeg
[submodule "libs/discord-rpc"]
	path = libs/discord-rpc
	url = https://github.com/discord/discord-rpc
