build-linux/
build-android/
build-armv8/
.cache/
#libs/
libs.old/
build.sh
debuild.sh
build-android.sh
compile_commands.json
# what is this
build/
.DS_Store
.vscode/settings.json

.idea/
tempCodeRunnerFile.bat
